<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="CVS Host" value="gb-aix-q"/>
      <add key="CVS Username" value="abougie"/>
      <add key="Working Directory Path" value="c:\_temp"/>
      <add key="CVS Port" value="2401"/>
      <add key="Repository Path" value="/usr/local/cvsroot/sandbox"/>
      <add key="Password scrambled" value="AB4%o=wSobI4w"/>
      <add key="Module Name" value="abougie/cvstest"/>
      <add key="Local Module Directory Name" value=""/>
      <add key="mode" value="test"/>
   </appSettings>
</configuration>