<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="CVS Host" value="host-name"/>
      <add key="CVS Username" value="username"/>
      <add key="Working Directory Path" value="c:\_temp"/>
      <add key="CVS Port" value="2401"/>
      <add key="Repository Path" value="/f1/f2/f3"/>
      <add key="Password scrambled" value="A:yZZ30 e"/>
      <add key="Module Name" value="mymod"/>
      <add key="Local Module Directory Name" value=""/>
   </appSettings>
</configuration>